<h2>Lista Utenti</h2>

<input type="text" placeholder="Cerca utente.."/>

<table>
    <tr>
      <th>
          Nome
      </th>
      <th>
          Cognome
      </th>
      <th>
          Tipo utente
      </th>
      <th>
          Eventi creati
      </th>
      <th>
          Gestisci
      </th>
    </tr>

  <tr>
    <td>
      {{nome}}
    </td>
    <td>
      {{cognome}}
    </td>
    <td>
      {{tipo_utente}}
    </td>
    <td>
      {{eventi_creati}}
    </td>
    <td>
    </td>
  </tr>
</table>



