<h2>Lista Utenti</h2>

<input type="text" placeholder="Cerca utente.."/>

<table>
  <tr>
    <th>
      Nome
    </th>
    <th>
      Cognome
    </th>
    <th>
      Tipo utente
    </th>
    <th>
      Eventi creati
    </th>
    <th>
      Gestisci
    </th>
  </tr>

  <tr *ngFor="let user of userData | async">
    <td>
      {{user.firstName}}
    </td>
    <th>
      {{user.lastName}}
    </th>
    <th>
      {{user.appRole}}
    </th>
    <th>
      {{user.organisedEvents}}
    </th>
    <th>
    </th>
  </tr>
</table>



