.toolbar {
    min-height: 80px;
    overflow: hidden;
    background-color: #b0b0b0;
}

.headerContainer{
    margin-top: 10px;
}

.projectLogo{
    cursor: pointer;
}
.homeIcon{
    cursor: pointer;
    transform: scale(2);
    color: #ff5b5b;
    border: 1px solid #00798a;
}
.homeIcon:hover{
    color: #ff5b5b;
    border: 1px solid #0199ad;
    background-color: #c4c4c4;
    box-shadow: 2px 2px 2px 2px #646363;
}

.position{
    cursor: pointer;
    color: #00798a;
    font-size:1.5vw;
    margin-right: 5px;
    padding: 2px;
}
.position:hover{
    color: #0199ad;
    border: 1px solid #0199ad;
}

.position-xs{
    cursor: pointer;
    color: #00798a;
    font-size: larger;
    margin-right: 5px;
    transform: scale(1.4);
    padding: 2px;
}
.position-xs:hover{
    color: #0199ad;
    border: 1px solid #0199ad;
}

.search-bar {
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px;
    background-color: #c4c4c4;
}

.search-bar input {
    min-height: 40px;
    flex: 1;
    border: none;
    outline: none;
}

.search-bar mat-icon {
    margin-left: 5px;
    cursor: pointer;
}

.eventsButton {
    font-size:1vw;
    cursor: pointer;
    border: 1px solid #00798a;
    border-radius: 10px;
    min-height: 30px;
    min-width: 100px;
    color: #e6ebf1;
    background-color: #00798a;
}
.eventsButton:hover{
    background-color: #0199ad;
    box-shadow: 5px 5px 5px 5px #646363;
}
