<div class="main-container" layout="row" layout-align="space-around center">
  <mat-toolbar>
    <div class="sidenav-toolbar-left" routerLink="/"> <span>Ci Vediamo Domani</span> </div>


    <div class="sidenav-toolbar-center">
      <form [formGroup]="searchForm">
      <div class="wrap">
        <div class="search">
          <mat-form-field>
            <input matInput type="text" formControlName="searchBar" (keydown.enter)="search()" class="searchTerm" placeholder="What are you looking for?" >
          </mat-form-field>
          <button type="submit" class="searchButton" (click)="search()"><mat-icon>search</mat-icon></button>
        </div>
      </div>
      </form>
    </div>


    <div class="sidenav-toolbar-right" *ngIf="isLogged()">
      <button class="event">I miei eventi</button>
      <app-profile-card></app-profile-card>
    </div>

    <div *ngIf="!isLogged()">
      <button class="event" (click)="goToLogin()">Login</button>
    </div>

  </mat-toolbar>
</div>
