<div class="main-container" layout="row" layout-align="space-around center">
  <mat-toolbar>
    <div class="sidenav-toolbar-left"> <span>Ci Vediamo Domani</span> </div>


    <div class="sidenav-toolbar-center">
      <div class="wrap">
        <div class="search">
          <input type="text" class="searchTerm" placeholder="What are you looking for?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>


    <div class="sidenav-toolbar-right"> <button class="event">I miei eventi</button> </div>

  </mat-toolbar>
</div>
