.box{
    margin: 20px;
    /*background-color: #888888;*/
    max-width: 90%;
}

.title{
    align-items: start;
    background-color: aquamarine;
    margin: 4px;
    font-weight: bold;
    font-size: large;
}

.descr-box {
    margin: 5px;
    background-color: #a9cbbf;
}

.details {
    border-radius: 10px;
    margin: 5px;
    background-color: cornflowerblue;
    box-shadow: 5px 5px 5px #646363;
    /*width: 100%;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*display: inline-block;*/
}

.imageBox {
    margin: 5px;
    overflow: hidden;
    border-radius: 10px;
}
.eventImg{
    /*width: 100%;*/
    /*border-radius: 10px;*/
    background-size: cover;
    background-repeat: no-repeat;
}
.eventImg:hover{
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.ticketing {
    margin: 2px;
    font-weight: bold;
}

.buttons-box {
    transform: scale(1.4);
    margin-left: 5px;
}
