<div fxLayout="row" fxLayoutAlign="start center"  class="box">
    <div fxLayout="column" fxLayoutAlign="space-around center" >
        <div class="title"><h2>{{eventDto.title}}</h2></div>
        <div fxLayout="row" fxLayoutAlign="space-around center" >
            <div class="descr-box">
                <div>{{eventDto.description}}</div>
                <div>{{ticketing}}</div>
            </div>
            <div>{{eventDto.datetime.toDateString()}}</div>
        </div>
    </div>
    <div>
        <img ngSrc="{{photo}}" width="128" height="128">
    </div>

    <div>
        <div fxLayout="column" fxLayoutAlign="space-around center" >
            <div *ngIf="attending; else elseAttend" (click)="setAttending(false)">
                <mat-icon>check_circle</mat-icon>
            </div>
            <ng-template #elseAttend>
                <div (click)="setAttending(true)"><mat-icon>check_circle_outline</mat-icon></div>
            </ng-template>
        </div>

        <div>
            <div *ngIf="favorite; else elseFav" (click)="setFavorite(false)">
                <mat-icon>favorite</mat-icon>
            </div>
            <ng-template #elseFav>
                <div (click)="setFavorite(true)"><mat-icon>favorite_border</mat-icon></div>
            </ng-template>
        </div>
    </div>

</div>

