.box{
    margin: 20px;
    max-width: 90%;
}

.title{
    align-items: start;
    margin: 4px;
    font-weight: bold;
    font-size: large;
}

.descr-box {
    margin: 5px;
}

.details {
    border-radius: 10px;
    margin: 5px;
    background-color: #e6ebf1;
    box-shadow: 5px 5px 5px #646363;
    transition: all 200ms linear;
    border: 2px solid #00798a;
    /*text-shadow: 2px 2px 4px #333333;*/
}

.details:hover{
    box-shadow: 10px 10px 10px #646363;
    background-color: #0199ad;
}

.imageBox {
    margin: 5px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #f3adad;
    background-color: #c5c5c5;
}
.eventImg{
    background-size: cover;
    background-repeat: no-repeat;
}
.eventImg:hover{
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.ticketing {
    margin: 2px;
    font-weight: bold;
}

.buttons-box {
    transform: scale(1.4);
    margin-left: 5px;
}

.attend:hover{
    color: #82fd82;
}
.favorite:hover{
    color: #ff8484;
}
