<div class="sec-center">
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
    <label class="for-dropdown" for="dropdown">Dropdown Menu <i class="uil uil-arrow-down"></i></label>
    <div class="section-dropdown">
        <a (click)="goToProfile()"> Profilo <i class="uil uil-arrow-right"></i></a>
        <a *ngIf="hasDashboard()" (click)="goToDashboard()"> Dashboard <i class="uil uil-arrow-right"></i></a>
        <a (click)="goToSettings()"> Impostazioni <i class="uil uil-arrow-right"></i></a>
        <a (click)="doLogout()"> Disconnetti <i class="uil uil-arrow-right"></i></a>
    </div>
</div>
