<mat-sidenav-container>
    <mat-sidenav position="start" mode="side" opened [disableClose]="true">
        <h2 class="goTo" routerLink="/homepage"> <mat-icon>arrow_back</mat-icon> Homepage</h2>

        <div> <h4 class="goTo" routerLink="/dashboard/users">Utenti</h4> </div>
        <div> <h4 class="goTo" routerLink="/dashboard/events">Eventi</h4> </div>
        <div> <h4 class="goTo" routerLink="/categorie">Categorie</h4> </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
