a {
    position: relative;
    top: 10%
}

p {
    position: relative;
    top: 20%;
}

.searchContainer{
    padding: 10px;
}

.filterCategories{
    margin-left: 25px;
}

.selectedCat{
    margin-left: 5px;
    padding: 1px;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #e6ebf1;
    box-shadow: 5px 5px 5px #646363;
}

.treeContainer {
    box-shadow: 5px 5px 5px #888888;
}

.upperNode {/* Remove default list bullets */
    list-style-type: none;
}

li {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}
