<div><h1> Risultati per: "{{searchValue}}"</h1></div>
<div fxLayout="row">
    <div fxLayout="column">
        <div><mat-icon>room</mat-icon> {{searchLocation}}</div>
        <div>
            <mat-slider [min]="sliderMinRange" [max]="sliderMaxRange" [step]="sliderStep">
                <input matSliderThumb [(value)]="searchRange" (valueChange)="onSliderChange()">
            </mat-slider>
            Cerca entro: {{searchRange}} KM
        </div>

    <!--    La lista categorie va qui-->
    </div>
    <div fxLayout="column">
        <div *ngIf="selectedCategories.length > 0" fxLayout="row"> Filtra per: <div *ngFor="let cat of selectedCategories">{{cat}}</div></div>
        <div fxFlex="70%">
            <div *ngFor="let event of eventList">
                <app-event-card [eventDto]="event"></app-event-card>
            </div>
        </div>
    </div>
</div>
