<div class="searchContainer">
    <div><h1>{{getSearchLabel()}}</h1></div>
    <div fxLayout="row">
        <div fxLayout="column">
            <div><mat-icon>room</mat-icon> Stai cercando su {{searchLocation}}</div>
            <div>
                <mat-slider [min]="sliderMinRange" [max]="sliderMaxRange" [step]="sliderStep">
                    <input matSliderThumb [(value)]="searchRange" (valueChange)="onSliderChange()">
                </mat-slider>
                Raggio: {{searchRange}} KM
            </div>

            <div class="treeContainer">
                <ul *ngFor="let elem of catList">
                    <li (click)="toogleElement(elem)" class="upperNode">{{elem.name}}</li>
                    <div *ngIf="elem.children">
                        <ul *ngFor="let child of elem.children">
                            <li (click)="toogleElement(child)">{{child.name}}</li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <div fxLayout="column">
            <div *ngIf="selectedCategories.length > 0" fxLayout="row" class="filterCategories">
                Filtra per:
                <div *ngFor="let cat of selectedCategories" class="selectedCat">{{cat}}</div>
            </div>
            <div fxFlex="70%">
                <div *ngFor="let event of eventList">
                    <app-event-card [eventDto]="event"></app-event-card>
                </div>
            </div>
        </div>
    </div>
</div>
