<div class="home-container">
    <div class="header-text">
        <h3> Scegli una categoria per iniziare </h3>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-icon class="arrow" (click)="changeCategory(-1)">keyboard_arrow_left</mat-icon>
        <div *ngFor="let c of categorieCarosello.slice(0, 3)">
            <div class="carousel-card" fxFlex="25%" fxLayoutAlign="center center" (click)="loadEvents(c.id)">
                {{c.name}}
            </div>
        </div>
        <mat-icon class="arrow" (click)="changeCategory(1)">keyboard_arrow_right</mat-icon>
    </div>

    <div *ngIf="showCreateButton()">
        <div class="center-text">
            <h4>oppure</h4>
        </div>
        <div class="event-button" routerLink="/editevent">
            <button>Organizza un evento...</button>
        </div>
    </div>
</div>
