<div fxLayout="column" class="home-container">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="20%" fxLayoutAlign="center center" class="header-text dark-text">Scegli una categoria per iniziare</div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-icon class="arrow" (click)="changeCategory(-1)">keyboard_arrow_left</mat-icon>
        <div fxFlex="20%" *ngFor="let c of categorieCarosello.slice(0, 3)">
            <div class="carousel-card" fxLayoutAlign="center center" (click)="loadEvents(c)">
                {{c.name}}
            </div>
        </div>
        <mat-icon class="arrow" (click)="changeCategory(1)">keyboard_arrow_right</mat-icon>
    </div>

    <div *ngIf="showCreateButton()">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="center-text dark-text">oppure</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="20%" fxLayoutAlign="center center" class="event-button" routerLink="/editevent">
                Organizza un evento...
            </div>
        </div>
    </div>
</div>
