.title{
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formGroup{
    width: 25%;
}

.mat-form-field {
    width: 100%;
}

.containerDialog{
    border-bottom: 1px solid #000000;
    padding: 10px;
    min-height: 50px;
    background-color: whitesmoke;
}

.dialog{
    border: 1px solid #00798a;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: #00798a;
    color: #e6ebf1;
}

.dialog:hover{
    box-shadow: 5px 5px 5px 5px #646363;
    background-color: #0199ad;

}

.description{
    min-height: 150px;
}

.price{
    margin-top: 20px;
}