<h2 class="title">Crea Evento</h2>

<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="editEvent" class="formGroup" fxLayout="column" fxLayoutGap="5px">
        <mat-form-field>
            <mat-label>Titolo</mat-label>
            <input matInput type="text" placeholder="Titolo" formControlName="title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Data</mat-label>
            <input matInput type="datetime-local" formControlName="datetime"/>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between" class="containerDialog">
            <label>{{place_name}}</label>
            <div (click)="changeLocation('Inserisci luogo evento', 'Inserisci nome città')" class="dialog" fxLayoutAlign="end center">Scegli luogo</div>
        </div>

        <mat-form-field class="price">
            <mat-label>Prezzo</mat-label>
            <input matInput type="number" placeholder="Prezzo" formControlName="price">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categories" multiple="true">
                <mat-option *ngFor="let cat of categories" [value]="cat">
                    {{cat.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descrizione</mat-label>
            <textarea class="description" matInput placeholder="Descrizione" formControlName="description"> </textarea>
        </mat-form-field>

        <input (change)="uploadfile($event)" type="file">

        <button (click)="createEvent()">Pubblica</button>
    </form>
</div>
