<h2>Crea Evento</h2>

<div class="color1">
    <form [formGroup]="editEvent" fxLayout="column" fxLayoutGap="10px">
        <div>
            <input type="text" placeholder="Titolo" formControlName="title"/>
        </div>

        <div>
            <input type="datetime-local" formControlName="datetime"/>
        </div>

        <div>
            <input type="text" placeholder="Luogo" formControlName="place"/>
        </div>

        <div>
            <input type="number" placeholder="Prezzo" formControlName="price"/>
        </div>

        <mat-form-field>
            <mat-select formControlName="categories" multiple="true">
                <mat-option *ngFor="let cat of categories" [value]="cat">
                    {{cat.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <div>
            <input type="text" placeholder="Descrizione" formControlName="description"/>
        </div>

        <div>
            <button (click)="createEvent()">Pubblica</button>
        </div>
    </form>
</div>

