.title{
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formGroup{
    width: 25%;
}

.mat-form-field {
    width: 100%;
}

.containerDialog{
    border-bottom: 1px solid #000000;
    padding: 10px;
    min-height: 50px;
    background-color: whitesmoke;
}

.dialog{
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.description{
    min-height: 150px;
}

.price{
    margin-top: 20px;
}