.main{
    margin-left: 25px
}

.title{
    min-height: 80px;
    font-weight: bolder;
    font-size: 3vw;
    margin-bottom: 50px;
}

.border{
    border-style: solid;
    height: 72%;
    width: 80%;
    margin-left: 10%;
}
