<h3 class="eventTitle"> {{eventDto?.title}} </h3>

<p> {{eventDto?.place}}</p>
<p> {{eventDto?.datetime}} </p>
<p> {{eventDto?.organiser.firstName}} </p>

<mat-icon class="icon">bookmark_border</mat-icon>
<!--Questa possiamo usarla se l'evento viene salvato nei preferiti.-->
<!--<mat-icon>bookmark</mat-icon>-->

<mat-icon class="icon">check_box_outline_blank</mat-icon>
<!--Questa possiamo usarla se l'utente partecipa.-->
<!--<mat-icon>check_box</mat-icon>-->

<p> {{eventDto?.description}} </p>

<p *ngIf="!isFree()"> Acquista qua: www.comprabiglietti.it </p>
<p *ngIf="isFree()"> Ingresso gratis. </p>

<p> Categoria evento: <div *ngFor="let cat of eventDto?.categories"> {{cat.name}} </div>

<p> Condividi su: </p>

<table border="100" align="right">
    <tr>
        <td>Mappa</td>
    </tr>
</table>
