.eventTitle {
    text-align: center;
}

.icon{
    cursor: pointer;
}

.field {
    font-weight: bold;
    margin: 5px;
}

.print-item{
    margin: 5px;
}

#map {
    /*width: 200px; !* o specifica una larghezza in pixel *!*/
    height: 400px; /* o specifica un'altezza in pixel */
}