<div fxLayout="column" class="main">
    <div class="title" fxLayoutAlign="start center"> PROFILO </div>

    <div fxLayout="column">

        <div> <mat-icon class="profile">person</mat-icon> </div>

        <div *ngIf="user" fxLayout="column" fxLayoutAlign="start start">
            <div class="infoUser"> Nome: {{user?.firstName}} </div>
            <div class="infoUser"> Cognome: {{user?.lastName}} </div>
            <div class="infoUser"> Email: {{user?.email}} </div>
            <div class="infoUser"> Iscritto dal: {{user?.createdDate}} </div>
            <div class="infoUser"> Numero eventi creati: {{user?.organisedEvents?.length}} </div>
            <div class="infoUser"> Numero eventi partecipati: {{user?.attending?.length}} </div>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div *ngIf="canChangeState()" (click)="changeState()" fxFlex="20%" fxLayoutAlign="center center" class="disableButton">
            {{buttonLabel}}
        </div>
    </div>
</div>
