.main{
    margin-left: 25px
}

.title{
    min-height: 80px;
    font-weight: bolder;
    font-size: 3vw;
    margin-bottom: 50px;
    margin-left: 10px;
}

.profile {
    font-size: 160px;
    height: 160px;
    width: 160px;
}

.infoUser{
    margin-left: 25px;
    margin-bottom: 20px;
    font-size:1.5vw;
}