<div fxLayout="column" class="main">
    <div class="title" fxLayoutAlign="start center"> PROFILO </div>

    <div fxLayout="column">

        <div> <mat-icon class="profile">person</mat-icon> </div>

        <div *ngIf="user" fxLayout="column" fxLayoutAlign="start start">
            <div class="infoUser"> Nome: {{user?.firstName}} </div>
            <div class="infoUser"> Cognome: {{user?.lastName}} </div>
            <div class="infoUser"> Email: {{user?.email}} </div>
            <div class="infoUser"> Iscritto dal: {{subscriptionDate}} </div>
            <div class="infoUser"> Numero eventi creati: {{numberEventCreated}} </div>
            <div class="infoUser"> Numero eventi partecipati: {{numberEventPartecipated}} </div>
        </div>

    </div>

    <button *ngIf="canChangeState()" (click)="changeState()"> {{buttonLabel}} </button>
</div>
