.main{
    margin-left: 25px
}

.title{
    min-height: 80px;
    font-weight: bolder;
    font-size: 3vw;
    margin-bottom: 50px;
    margin-left: 10px;
}

.profile {
    font-size: 160px;
    height: 160px;
    width: 160px;
}

.infoUser{
    margin-left: 25px;
    margin-bottom: 20px;
    font-size:1.5vw;
}

.disableButton{
    cursor: pointer;
    border: 1px solid #00798a;
    border-radius: 5px;
    min-height: 50px;
    min-width: 150px;
    color: #e6ebf1;
    background-color: #00798a;
    transition: all 200ms linear;
}

.disableButton:hover{
    background-color: #0199ad;
    box-shadow: 5px 5px 5px 5px #646363;
}